# 2주차 실습 수업 모범 답안

### Hello World 실습

In [1]:
#1)
print("Hello world")

Hello world

In [2]:
#2)
print('통계분석방법 수강생' + ' 정말'*2 + ' 반갑습니다')

통계분석방법 수강생 정말 정말 반갑습니다

In [3]:
#3)
print('1 \n5')

1
5

In [4]:
#4)
print("안녕하세요"[0])
print(len("안녕하세요"))

안
5

In [5]:
#5)
input_a = int(input("정수를 입력하세요: "))
input_b = int(input("정수를 입력하세요: "))

print(input_a + input_b)

정수를 입력하세요: 2
정수를 입력하세요: 4
6

### 리스트 실습

In [6]:
#6)
list1 = ['apple', 100, 'banana']
print('List_1 = ', list1)

List_1 =  ['apple', 100, 'banana']

In [7]:
#7)
a = [1, 2, 3, 4, 5]
print('Length of a :', len(a), ' a = ', a)
#7-1)
a.append(6)
print('Length of a :', len(a), ' a = ', a)
#7-2)
a.append([6, 7, 8])
print('Length of a :', len(a), ' a = ', a)
#7-3)
a.extend([9, 10])
print('Length of a :', len(a), ' a = ', a)
#7-4)
a.pop()
print('Length of a :', len(a), ' a = ', a)

Length of a : 5  a =  [1, 2, 3, 4, 5]
Length of a : 6  a =  [1, 2, 3, 4, 5, 6]
Length of a : 7  a =  [1, 2, 3, 4, 5, 6, [6, 7, 8]]
Length of a : 9  a =  [1, 2, 3, 4, 5, 6, [6, 7, 8], 9, 10]
Length of a : 8  a =  [1, 2, 3, 4, 5, 6, [6, 7, 8], 9]

### 조건문 실습

In [8]:
#8)
score = 81

if score > 80:
  print('pass')
else:
  print('fail')

pass

In [9]:
#9)
score = int(input("Input your score :"))

if score >= 90:
  print("A학점입니다.")
elif score >= 80:
  print("B학점입니다.")
elif score >= 70:
  print("C학점입니다.")
elif score >= 60:
  print("D학점입니다.")
else :
  print("F학점입니다.")

Input your score :95
A학점입니다.

### 반복문 실습

In [10]:
#10)
n = 100
while n > 0:
    n -= 10
    print(n)

90
80
70
60
50
40
30
20
10
0

In [11]:
#11)
x = 0
while x < 11:
  print("{!s}".format(x))
  x += 1

0
1
2
3
4
5
6
7
8
9
10

In [12]:
#12)
a = ['save', 'shade', 'upright', 'amid', 'so', 'tweet', 'modern', 'meter', 'dresser', 'gosh']

#12-1)
for word in a:
    print(word)

save
shade
upright
amid
so
tweet
modern
meter
dresser
gosh

In [13]:
#12-2)
for word in a:
  if word.startswith('s'):
    print(word)

save
shade
so

### 'def' 실습

In [14]:
#13)
def getMean(numericValues):
    return sum(numericValues)/len(numericValues)

#13-1)
a_list = [3,4,5,6,10]
print("Output #13-1): {!s}".format(getMean(a_list)))

Output #13-1): 5.6

In [15]:
#13-2)
b_list = []
print("Output #13-2): {!s}".format(getMean(b_list)))

ZeroDivisionError: ignored

In [16]:
#14)
def getMean(numericValues):
    return sum(numericValues)/len(numericValues) if len(numericValues) > 0 \
    else float('nan')
    
#14-1)
a_list = [3,4,5,6,10]
print("Output #14-1): {!s}".format(getMean(a_list)))

#14-2)
b_list = []
print("Output #14-2): {!s}".format(getMean(b_list)))

Output #14-1): 5.6
Output #14-2): nan