## 4주차 실습 수업 모범 답안

### Pandas DataFrame 구조

In [1]:
import numpy as np
import pandas as pd

In [2]:
#1)
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
#2)
dates = pd.date_range('20230101', periods=6)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
#3)
df1 = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df1

                   A         B         C         D
2023-01-01 -0.481518  1.398038  0.732970 -0.685226
2023-01-02 -0.244216 -0.536698 -0.245846 -0.512329
2023-01-03  0.278567  0.396341 -1.059663 -0.056982
2023-01-04 -0.698703  0.916809  0.489046  0.122583
2023-01-05  1.331569  0.494937 -0.459318 -0.215927
2023-01-06  0.715252  1.391965  1.658574 -2.670894

In [5]:
#4)
df2 = pd.DataFrame({'A': 1.,
                   'B': pd.Timestamp('20130102'),
                   'C': pd.Series(1, index=list(range(4)), dtype='float32'), 
                   'D': np.array([3] * 4, dtype='int32'),
                   'E': pd.Categorical(["test", "train", "test", "train"]),
                   'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [6]:
#5)
df1.head()

                   A         B         C         D
2023-01-01 -0.481518  1.398038  0.732970 -0.685226
2023-01-02 -0.244216 -0.536698 -0.245846 -0.512329
2023-01-03  0.278567  0.396341 -1.059663 -0.056982
2023-01-04 -0.698703  0.916809  0.489046  0.122583
2023-01-05  1.331569  0.494937 -0.459318 -0.215927

In [7]:
df1.tail(3)

                   A         B         C         D
2023-01-04 -0.698703  0.916809  0.489046  0.122583
2023-01-05  1.331569  0.494937 -0.459318 -0.215927
2023-01-06  0.715252  1.391965  1.658574 -2.670894

In [8]:
#6)
df1.index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df1.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
#7)
df1.to_numpy()

array([[-0.48151842,  1.39803807,  0.73297024, -0.68522568],
       [-0.24421609, -0.53669808, -0.24584604, -0.51232921],
       [ 0.27856718,  0.39634089, -1.05966253, -0.05698189],
       [-0.69870257,  0.91680867,  0.48904602,  0.12258283],
       [ 1.33156851,  0.49493653, -0.45931772, -0.21592669],
       [ 0.71525216,  1.39196489,  1.65857449, -2.67089399]])

In [11]:
#8)
df1.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.150158  0.676898  0.185961 -0.669796
std    0.775456  0.731240  0.970988  1.023604
min   -0.698703 -0.536698 -1.059663 -2.670894
25%   -0.422193  0.420990 -0.405950 -0.642002
50%    0.017176  0.705873  0.121600 -0.364128
75%    0.606081  1.273176  0.671989 -0.096718
max    1.331569  1.398038  1.658574  0.122583

In [12]:
#9)
df1.T

   2023-01-01  2023-01-02  2023-01-03  2023-01-04  2023-01-05  2023-01-06
A   -0.481518   -0.244216    0.278567   -0.698703    1.331569    0.715252
B    1.398038   -0.536698    0.396341    0.916809    0.494937    1.391965
C    0.732970   -0.245846   -1.059663    0.489046   -0.459318    1.658574
D   -0.685226   -0.512329   -0.056982    0.122583   -0.215927   -2.670894

In [13]:
#10)
df1.sort_index(axis=1, ascending=False)

                   D         C         B         A
2023-01-01 -0.685226  0.732970  1.398038 -0.481518
2023-01-02 -0.512329 -0.245846 -0.536698 -0.244216
2023-01-03 -0.056982 -1.059663  0.396341  0.278567
2023-01-04  0.122583  0.489046  0.916809 -0.698703
2023-01-05 -0.215927 -0.459318  0.494937  1.331569
2023-01-06 -2.670894  1.658574  1.391965  0.715252

In [14]:
df1.sort_index(axis=0, ascending=True)

                   A         B         C         D
2023-01-01 -0.481518  1.398038  0.732970 -0.685226
2023-01-02 -0.244216 -0.536698 -0.245846 -0.512329
2023-01-03  0.278567  0.396341 -1.059663 -0.056982
2023-01-04 -0.698703  0.916809  0.489046  0.122583
2023-01-05  1.331569  0.494937 -0.459318 -0.215927
2023-01-06  0.715252  1.391965  1.658574 -2.670894

In [15]:
df1.sort_values(by='B')

                   A         B         C         D
2023-01-02 -0.244216 -0.536698 -0.245846 -0.512329
2023-01-03  0.278567  0.396341 -1.059663 -0.056982
2023-01-05  1.331569  0.494937 -0.459318 -0.215927
2023-01-04 -0.698703  0.916809  0.489046  0.122583
2023-01-06  0.715252  1.391965  1.658574 -2.670894
2023-01-01 -0.481518  1.398038  0.732970 -0.685226

In [16]:
#11)
df1['A']

2023-01-01   -0.481518
2023-01-02   -0.244216
2023-01-03    0.278567
2023-01-04   -0.698703
2023-01-05    1.331569
2023-01-06    0.715252
Freq: D, Name: A, dtype: float64

In [17]:
#12)
df1[0:3]

                   A         B         C         D
2023-01-01 -0.481518  1.398038  0.732970 -0.685226
2023-01-02 -0.244216 -0.536698 -0.245846 -0.512329
2023-01-03  0.278567  0.396341 -1.059663 -0.056982

In [18]:
#13)
df1.loc[dates[0]]

A   -0.481518
B    1.398038
C    0.732970
D   -0.685226
Name: 2023-01-01 00:00:00, dtype: float64

In [19]:
#14)
df1.loc[:, ['A', 'B']]

                   A         B
2023-01-01 -0.481518  1.398038
2023-01-02 -0.244216 -0.536698
2023-01-03  0.278567  0.396341
2023-01-04 -0.698703  0.916809
2023-01-05  1.331569  0.494937
2023-01-06  0.715252  1.391965

In [20]:
#15)
df1.loc['20230102':'20230104', ['A', 'B']]

                   A         B
2023-01-02 -0.244216 -0.536698
2023-01-03  0.278567  0.396341
2023-01-04 -0.698703  0.916809

In [21]:
#16)
df1.iloc[3]

A   -0.698703
B    0.916809
C    0.489046
D    0.122583
Name: 2023-01-04 00:00:00, dtype: float64

In [22]:
df1.iloc[3:5, 0:2]

                   A         B
2023-01-04 -0.698703  0.916809
2023-01-05  1.331569  0.494937

In [23]:
df1.iloc[[1, 2, 4], [0, 2]]

                   A         C
2023-01-02 -0.244216 -0.245846
2023-01-03  0.278567 -1.059663
2023-01-05  1.331569 -0.459318

In [24]:
#17)
df1[df1['A'] > 0]

                   A         B         C         D
2023-01-03  0.278567  0.396341 -1.059663 -0.056982
2023-01-05  1.331569  0.494937 -0.459318 -0.215927
2023-01-06  0.715252  1.391965  1.658574 -2.670894

In [25]:
#18)
from google.colab import files
file_uploaded = files.upload()

Saving supplier_data.csv to supplier_data.csv

In [27]:
import io

data_frame = pd.read_csv(io.BytesIO(file_uploaded['supplier_data.csv']))
data_frame

   Supplier Name Invoice Number  Part Number     Cost Purchase Date
0     Supplier X       001-1001         2341  $500.00       1/20/14
1     Supplier X       001-1001         2341  $500.00       1/20/14
2     Supplier X       001-1001         5467  $750.00       1/20/14
3     Supplier X       001-1001         5467  $750.00       1/20/14
4     Supplier Y        50-9501         7009  $250.00       1/30/14
5     Supplier Y        50-9501         7009  $250.00       1/30/14
6     Supplier Y        50-9505         6650  $125.00        2/3/14
7     Supplier Y        50-9505         6650  $125.00        2/3/14
8     Supplier Z       920-4803         3321  $615.00        2/3/14
9     Supplier Z       920-4804         3321  $615.00       2/10/14
10    Supplier Z       920-4805         3321  $615.00       2/17/14
11    Supplier Z       920-4806         3321  $615.00       2/24/14

In [28]:
#19)
data_frame['Cost'] = data_frame['Cost'].str.strip('$').astype(float)
data_frame

   Supplier Name Invoice Number  Part Number   Cost Purchase Date
0     Supplier X       001-1001         2341  500.0       1/20/14
1     Supplier X       001-1001         2341  500.0       1/20/14
2     Supplier X       001-1001         5467  750.0       1/20/14
3     Supplier X       001-1001         5467  750.0       1/20/14
4     Supplier Y        50-9501         7009  250.0       1/30/14
5     Supplier Y        50-9501         7009  250.0       1/30/14
6     Supplier Y        50-9505         6650  125.0        2/3/14
7     Supplier Y        50-9505         6650  125.0        2/3/14
8     Supplier Z       920-4803         3321  615.0        2/3/14
9     Supplier Z       920-4804         3321  615.0       2/10/14
10    Supplier Z       920-4805         3321  615.0       2/17/14
11    Supplier Z       920-4806         3321  615.0       2/24/14

In [29]:
#20)
data_frame.loc[(data_frame['Supplier Name'].str.contains('Z')) | (data_frame['Cost'] > 600.0), :]

   Supplier Name Invoice Number  Part Number   Cost Purchase Date
2     Supplier X       001-1001         5467  750.0       1/20/14
3     Supplier X       001-1001         5467  750.0       1/20/14
8     Supplier Z       920-4803         3321  615.0        2/3/14
9     Supplier Z       920-4804         3321  615.0       2/10/14
10    Supplier Z       920-4805         3321  615.0       2/17/14
11    Supplier Z       920-4806         3321  615.0       2/24/14

In [30]:
#21)
important_dates = ['1/20/14', '1/30/14']
data_frame.loc[data_frame['Purchase Date'].isin(important_dates), :]

  Supplier Name Invoice Number  Part Number   Cost Purchase Date
0    Supplier X       001-1001         2341  500.0       1/20/14
1    Supplier X       001-1001         2341  500.0       1/20/14
2    Supplier X       001-1001         5467  750.0       1/20/14
3    Supplier X       001-1001         5467  750.0       1/20/14
4    Supplier Y        50-9501         7009  250.0       1/30/14
5    Supplier Y        50-9501         7009  250.0       1/30/14

In [31]:
#22)
data_frame.loc[data_frame['Invoice Number'].str.startswith("001-"), :]

  Supplier Name Invoice Number  Part Number   Cost Purchase Date
0    Supplier X       001-1001         2341  500.0       1/20/14
1    Supplier X       001-1001         2341  500.0       1/20/14
2    Supplier X       001-1001         5467  750.0       1/20/14
3    Supplier X       001-1001         5467  750.0       1/20/14